# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.obj.enc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe.recipe
*.out
*.app

*.sln

*.vcxproj
*.htm
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.ilk
*.log
*.pdb
*.idb
*.json
*.sqlite
*.vcxproj.FileListAbsolute.txt
*.vs
*.iobj
*ipdb
